<main>
  <h2 class="edit_task">Edit Task</h2>
  <p class="change">Changing focus? No worries. <span class='emphasis'>It took Oprah a long time to find her stride too.</span> Edit your Task here:</p>

  <div class='edit_form'>
    <%= render 'form'%>
  </div>

  <footer class="edit_footer">
    <%= link_to 'Delete Task', task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
    <%= link_to "Back to Tasks", "/tasks"%>
  </footer>
</main>
