<h2>Edit Task</h2>
<p>Changing focus? No worries. It took Oprah a long time to find her stride too. Edit your Task here:</p>

<%= render 'form'%>

<%= link_to 'Delete Task', task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
<%= link_to "Back to Tasks", "/tasks"%>
