<ul>
  <% @tasks.each do |task|%>
  <li class="task">
    <%= link_to "#{task.name}", "/tasks/#{task.id}"%>
  </li>
  <%end%>
  <li class="task">
  <%= link_to "Add New Task", "/tasks/new"%>
  </li>
</ul>
