<ul>
  <% @tasks.each do |task|%>
  <li>
    <a href="/tasks/<%=task.id%>"><%=task.name%></a>
    <%#<ul>
      <li>
        Description: <%=task.description%>
      <%#</li>
      <li>
        Status: <%=task.completion_date%>
      <%# </li> 
    </ul> #%>
  </li>

<%end%>
</ul>
