/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Fonts */

 @import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Just+Another+Hand|Nothing+You+Could+Do|Rancho');



.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 100px 100px;
}

.container h1 a:hover {
  color: gray;
}

header {
  grid-column: span 10;
  font-size: 2rem;

}


main {
  grid-column: span 10;
  margin-top: 10px;
  padding: 10px;
}

h1 a {
  color: tomato;
}

.secondary {
  font-size: 2rem;
  padding-bottom: 20px;
}
 body {
  background-color: whitesmoke;
 }

 /*
font-family: 'Just Another Hand', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Rancho', cursive;
font-family: 'Nothing You Could Do', cursive;
*/

 h1 {
   text-align: center;
   color: tomato;
   font-family: 'Just Another Hand', cursive;
 }

 h2{
   font-family: 'Rancho', cursive;
 }

 p {
   font-size: 1.5rem;
   font-family: 'Just Another Hand', cursive;
   color: tomato;
 }
