.secondary {
  text-align: center;
}

ul {
  display:table;
  margin:0 auto;
  list-style-type: none;
}

ul li  {
  flex-basis: content;
  font-size: 2rem;
  color: gray;
  border: 2px dotted gray;
}


.status {
  margin-left: 50px;
  padding-right: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.alert {
  color: tomato;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from   { opacity: 0; }
  to { opacity: 1 }
  
}

.task, .new_task {
  padding: 10px;
}

.link {
  font-family: 'Just Another Hand', cursive;
  text-align: center;
  font-size: 2rem;
}

.link a {
  color: tomato;
}

.link a:hover {
  color: gray;
}


footer {
  grid-column: span 12;
}
