ul {

  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  
  /* flex-direction: column; */
  list-style-type: none;
}

ul li  {
  flex-basis: content;
  font-size: 2rem;
  color: gray;
  border: 2px solid black;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.alert {
  color: tomato;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from   { opacity: 0; }
  to { opacity: 1 }
  
}

.task, .new_task {
  padding: 10px;
}

.new_task {
  font-size: 1.5rem;
  color: tomato;
}

.update_status {
  align-self: flex-end;
}
